header {
  background-color: #3c3a39;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}

body {
  background-color: #1c1a19 !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
}

h1 {
  width: 350px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h3 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

hr {
  width: 85%;
  background: #dbd8d7;
}

li {
  list-style-type: none;
}

img {
  transition: all 0.2s ease-out;
}

.h2-headline {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navbar {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.desktop-nav {
  display: none;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ulnavbar {
  align-self: center;
  margin-right: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background: #1c1a19;
  background-position: right bottom;
  padding: 120px 24px;
  background-image: url(../img/illustraction/Illustration.svg);
  background-repeat: no-repeat;
}

.headline-description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.social-media-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  background: #e5e5e5;
}

.h2-works {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.h2-vector {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame44 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 375px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.featured-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  width: auto;
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.placeholder-img {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
  transition: all 0.2s ease-in;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.supporting-text {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tags-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: auto;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag-item-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.right-block-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0;
  padding-top: 30px;
}

.rbb-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  width: 124px;
  height: 48px;
  color: #fff;
  transition: all 0.5s ease-in;
  margin: auto;
}

.work1 {
  padding-top: 100px;
}

.project1 {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/ImgPlaceholder1.png);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.project1-title {
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: #fff;
  font-size: 30px;
}

.project1-text {
  padding: 0 15px 15px 15px;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project-skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 40px;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.project-card-item {
  background: rgba(255, 255, 255, 0.24);
  padding: 15px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.Project-btn {
  order: 3;
  width: 100%;
  height: 48px;
  left: 0;
  top: 0;
  color: white;
  font-size: 20px;
  background: #ff6b00;
}

.about-me-container {
  background: #1c1a19;
}

.about-me-headline-container {
  background-image: url(../img/Frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-me-headline {
  padding: 20px;
}

.about-me-header {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-me-description {
  width: 300px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-me-btn-txt {
  align-items: center;
  padding: 12px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 200px;
}

.resourcesection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  margin: 0 32px 30px -30px;
}

.lineimage {
  margin-right: 15px;
}

.source {
  display: flex;
  flex-direction: column;
  color: #fff;
  list-style-type: none;
}

.subline {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 58px;
  background: #e5e5e5;
}

.form-header {
  display: flex;
  justify-content: center;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 0 0 30px 0;
  width: auto;
}

.form {
  margin: auto;
  text-align: center;
  width: 80%;
  padding-top: 20px;
  opacity: 1;
}

.form-element-height {
  border-bottom: solid #dbd8d7;
  height: 18px;
  color: #3c3a39;
  opacity: 1;
}

.form-element {
  background: #e5e5e5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  width: 80%;
  margin: auto;
  border: none;
  opacity: 1;
}

.form-element-email {
  background: #fbf8f7;
}

.informationbutton {
  align-items: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from { background-color: #ff6b00; }
  to { background-color: blue; }
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background: #e5e5e5;
  padding-top: 20px;
}

.social-media-line {
  width: 100%;
  border: 1px solid #dfe1e6;
}

.social-media-item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media-element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project1:hover,
.project1-card:hover {
  transform: scale(1.05);
}

.desktop-header > a:hover {
  transform: scale(1.05);
}

.logo:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .desktop-nav {
    display: block;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin-right: 90px;
  }

  .desktop-header-item {
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 26px;
    margin: 0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-bottom: 10px;
  }

  .hamburger {
    display: none;
  }

  .email {
    align-self: center;
    margin-right: 20px;
  }

  .desktop-headline {
    padding-left: 250px;
    margin: 0;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #f55800;
    order: 0;
  }

  .headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: right;
    padding: 120px 0 307px 0;
    margin: 0;
    background-image: url(../img/illustraction/Illustration-header.svg);
    background-repeat: no-repeat;
  }

  .social-media {
    position: absolute;
    list-style-type: none;
    flex-direction: column;
    flex-basis: 0;
    flex-shrink: 0;
  }

  .works {
    padding: 100px 100px 80px 100px;
    margin: 0;
  }

  .works-header-row {
    display: flex;
    flex-direction: row;
    width: 900px;
  }

  .h2-vector {
    margin-top: 78px;
    width: 60%;
  }

  .featured-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .placeholder-img {
    width: 684px;
    height: 448px;
  }

  .right-block {
    margin-top: 100px;
  }

  .right-block-btn {
    display: block;
  }

  .word-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .work {
    margin-left: 30px;
  }

  .work1 {
    padding-top: 0;
  }

  .work-card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
  }

  .about-me-headline-container {
    background-image: url(../img/illustraction/illustration-about\ me.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 120px 0 120px 0;
    width: 100%;
  }

  .about-me-headline {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 200px;
    width: 30%;
  }

  .about-me-header {
    width: 566px;
    height: 78px;
  }

  .about-me-description {
    width: 566px;
    height: 148px;
  }

  .resourcesection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 152px;
    padding-left: 400px;
    width: 100%;
  }

  .source {
    display: flex;
    flex-direction: column;
  }

  .subline {
    margin-right: auto;
    text-align: left;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .form-header {
    width: 455px;
    height: 256px;
    color: #262626;
    padding-left: 300px;
  }
}
